profiles {
	singularity {
		singularity.enabled = true
		process {
			withLabel: RGI{
				container = 'docker://quay.io/biocontainers/rgi:6.0.3--pyha8f3691_0'
			}
			withLabel: MOB{
				container = 'docker://quay.io/biocontainers/mob_suite:3.1.4--pyhdfd78af_0'
			}
		}
	}
	docker {
		docker.enabled = true		
		process {
			withLabel: RGI{
				container = 'finlaymaguire/rgi:latest'
			}
			withLabel: MOB{
				container = 'kbessonov/mob_suite:3.0.3'
			}
		}
	}

	conda {
		conda.enabled = true
		conda.useMamba = true
		process {
			withLabel: RGI{
				conda = 'bioconda::rgi'
			}
			withLabel: MOB{
				conda = 'bioconda::mob_suite=3.1.4'
			}
		}
	}
}
