// Nextflow config file for the SLURM login nodes

singularity {
    enabled = true
    // the default is 20 minutes and fails with large images
    pullTimeout = "41 hours"
}

process{
    // this is to avoid errors for missing files due to shared filesystem latency
    scratch = true
    cpus = 4
    memory = '32 GB'
    time = '24h'
    queue = 'NMLResearch'
    clusterOptions = '--account=grdiamr2' 
    //maxForks = 3 

    maxRetries = 3
    errorStrategy = { ( task.exitStatus == 0 ) ? "retry" : "terminate" }
    cache = "lenient"
    afterScript = "sleep 60"
}

executor {
    name = "slurm"
    queueSize = 100
    submitRateLimit = "5/1sec"
    exitReadTimeout = "1000 min"
    jobName = {
        task.name.replace("[", "(")
                 .replace("]", ")")
                 .replace(" ", "_")
    }
}
