profiles {
	singularity {
		singularity.enabled = true
		process {
			withLabel: RGI{
				container = 'docker://quay.io/biocontainers/rgi:6.0.3--pyha8f3691_0'
			}
			withLabel: MOB{
				container = 'docker://quay.io/biocontainers/mob_suite:3.1.4--pyhdfd78af_0'
			}
                         withLabel: STARAMR{
                                container = 'docker://quay.io/biocontainers/staramr:0.10.0--pyhdfd78af_0'
                        }
			withLabel: ECTYPER{
                                container = 'docker://quay.io/biocontainers/ectyper:1.0.0--pyhdfd78af_1'
                        }
			withLabel: ABRICATE{
                                container = 'docker://quay.io/biocontainers/abricate:1.0.1--ha8f3691_1'
                        }
			withLabel: SISTR{
                                container = 'docker://quay.io/biocontainers/sistr_cmd:1.1.2--pyhca03a8a_1'
                        }
		}
	}
	docker {
		docker.enabled = true		
		process {
			withLabel: RGI{
				container = 'finlaymaguire/rgi:latest'
			}
			withLabel: MOB{
				container = 'kbessonov/mob_suite:3.0.3'
			}
                        withLabel: STARAMR{
                                container = 'staphb/starmr'
                        }
			withLabel: ECTYPER{
                                container = 'kbessonov/ectyper'
                        }
                        withLabel: ABRICATE{
                                container = 'staphb/abricate'
                        }
                        withLabel: SISTR{
                                container = 'staphb/sistr'
                        }
		}
	}

	conda {
		conda.enabled = true
		conda.useMamba = true
		process {
			withLabel: RGI{
				conda = 'bioconda::rgi'
			}
			withLabel: MOB{
				conda = 'bioconda::mob_suite=3.1.4'
			}
                        withLabel: STARAMR{
                                conda = 'bioconda::staramr=0.10.0'
                        }
			withLabel: ECTYPER{
                                conda = 'bioconda::ectyper=1.0.0'
                        }
			withLabel: ABRICATE{
                                conda = 'bioconda::abricate=1.0.1'
                        }
			withLabel: SISTR{
                                conda = 'bioconda::sistr_cmd=1.1.2'
                        }
		}
	}
}
